html{
    font-size:14px;
}

body{
    display:flex;
    justify-content:center;
    background:aquamarine;
    margin-top:2%;
}

.content{
    display:flex;
    justify-content:center;
    flex-direction:column;
    text-align:center;
}

.content .main{
    display:flex;
    justify-content:center;
    border:2px turquoise solid;
    background:pink;
    height:500px;
    width:600px;
}