@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,700;1,300;1,500&display=swap');


html{
    font-size:14px;
}

body{
    display:flex;
    justify-content:center;
    background: #EE8651;
    margin-top:2%;
    /* changed the font */
    font-family: 'Montserrat';
    color:white;
}
/* modal window */
.modal{
    position:fixed;
    width:100%;
    height:100%;
    left:0;
    top:0;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    font-size:1rem;
}

.modal:target{
    display:block;
}

.modal .window {
    width:300px;
    height:100px;
    left:45%;
    top:23%;
    position:relative;
    color: white;
    text-shadow: 3px 3px 4px rgba(29, 29, 29, 0.479);
    background: #EE8651;
    border-radius:10px;
}

.modal .window .mdlmsg{
    display:flex;
    justify-content: center;
    text-align: center;
    padding-top:35px;
    font-size:1.2rem;
    text-shadow:2px 2px 3px rgb(0, 0, 0);
}

/* close */
.close{
    position:absolute;
    top:5px;
    right:5px;
    background: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    text-decoration: none;
    line-height: 0;
    text-align:center;
    display:flex;
    justify-content: center;
    padding-top:5px;
    padding-left:2.5px;
    padding-right:2.5px;
    height:10px;
    width:10px;
    border-radius:50%;
    font-size:1.1rem;
    cursor: pointer;
}


.close:hover{
    background-color:red;
    color:white;
}

/* guess history */
.guesshistory{
    display:flex;
    flex-direction:column;
    justify-content:center;
    text-align:center;
    margin-right:50px;
    margin-top: 125px;
    background-color: #9C5221;
    /* changed border color, added radius */
    box-shadow: 3px 3px 3px rgba(43, 42, 42, 0.685);
    border-radius: 20px;
    padding-right:50px;
    color: white;
}

/* main content container */
.content{
    display:flex;
    justify-content:center;
    flex-direction:column;
    text-align:center;
}

.content .main{
    display:flex;
    flex-direction:column;
    justify-content:center;
    box-shadow: 5px 5px 6px rgba(43, 42, 42, 0.685);
    border-radius: 20px;
    /* background:dodgerblue; */
    height:500px;
    width:600px;
}
.content #main{ 
    background-image: url(questionmark-dribbble.gif);
}
.title  {
    /* border: 2px solid rgb(221, 217, 217); */
    /* color: rgb(27, 25, 25); */
    color: white;
    text-shadow: 3px 3px 4px rgba(29, 29, 29, 0.479);
    
}
.subtitle{
    color: white;
    text-shadow: 3px 3px 4px rgba(29, 29, 29, 0.479);
}
/* win condition */
#win {
    display:none;
    justify-content: center;
    flex-direction: column;
}

#win p,h2,h5 {
    margin-top:0;
    margin-bottom:6px;
}
/* lose condition */
#lose {
    display:none;
    justify-content: center;
    flex-direction: column;
}

#lose p,h2,h5 {
    margin-top:0;
    margin-bottom:6px;
}
/* top half of main */
.main .toprow{
    display:flex;
    flex-direction:row;
    width:96%;
    margin-left:2%;
    margin-top:-3%;
    padding-bottom:0;
    justify-content: space-between;
}

.content .main .toprow img{
    margin-top:20%;
}

/* reset button */
.content .main .reset{
    display:flex;
    justify-content: center;
    font-size:1.3rem;
    color:rgb(255, 255, 255);
    font-weight:bold;
    text-shadow: 2px 2px 3px black;
    height:10%;
    /* changed width */
    width:15%;
    background-color:#EE8651;
    border: none;
    border-radius: 10px;
    padding-top:8px;
    cursor: pointer;
    box-shadow: 2px 3px 2px rgba(43, 42, 42, 0.685);
}

.content .main .reset1{
    display:none;
    justify-content: center;
    align-self:center;
    font-size:1.2rem;
    color:white;
    height:20%;
    width:20%;
    padding: 5px 0 5px 0;
    background-color:#273B37;
    border: none;
    border-radius:5px;
    transition: all .4s ease;
}
.content .main .reset1:hover {
    background-color: #18161141;
    cursor: pointer;
}
.form #win h2 {
    color: rgb(36, 27, 27);
}
.content .main .reset2{
    display:flex;
    justify-content: center;
    align-self:center;
    font-size:1.2rem;
    color:white;
    height:40px;
    width:20%;
    padding-top:5px;
    padding-bottom:5px;
    background-color:rgb(184, 5, 5);
    border: none;
    border-radius: 10px;
}
.content .main .reset2:hover{
    cursor: pointer;
}
.scoreboard {
    background:#0073bb;
    display:flex;
    flex-direction:column;
    justify-content:center;
    width:20%;
    margin-bottom:40%;
    border-radius: 20px;
    box-shadow: 3px 3px 6px rgba(43, 42, 42, 0.685);
}


.main .form {
    display:flex;
    flex-direction: column;
    justify-content: center;
    width:100%;
}

.main input{
    height:40px;
    align-self:center;
    background-color: #ff635a;
    color:white;
    margin-right:1%;
    margin-bottom:1%;
    border-radius:15px;
    padding-left:3%;
    padding-right:3%;
}
.main input[type=text]{
    text-align: center;
}
.main input[type=submit]{
    cursor: pointer;
}

#secret1{
    font-size:1.4rem;
    font-weight: bold;

}